<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form #regForm="ngForm" (ngSubmit)="submitFunc()">
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          name="givenName"
          [(ngModel)]="givenName"
        />
      </div>
      <div class="form-group">
        <label>Email Id</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="emailId"
        />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          name="pwd"
          [(ngModel)]="password"
        />
      </div>
      <button class="btn btn-success" type="submit">Registration</button>
    </form>
  </div>
  <div class="col-4"></div>
</div>
