<div class="row">
  <div class="col-12">
    <p class="h4">Reactive Form</p>
  </div>
</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          [formControlName]="'givenName'"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Email Id</label>
        <input type="text" [formControlName]="'emailId'" class="form-control" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          [formControlName]="'password'"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Your Age</label>
        <input type="number" [formControlName]="'age'" class="form-control" />
      </div>
      <button class="btn btn-success" type="submit">Registration</button>
    </form>
  </div>
  <div class="col-4"></div>
</div>

{{ regForm.get("age").status }}
